body { background: url(../images/bg_repeat.PNG) #2989d8 repeat; }

.img-center { margin: 0 auto 20px; border-radius: 0.5em; border: 4px solid #fff; max-width: 100%; height: 230px; }

.cub-image{ width: 150px;}

.page-header{ color: #fff; font-weight: bold; font-size: 4em; margin: 0px;}

text.highcharts-xaxis-title,
text.highcharts-yaxis-title { font-weight: bold; font-size: 1.8em; }

g.highcharts-axis-labels.highcharts-xaxis-labels > text{ font-size: 1.5em !important; margin-top: 10px;}

g.highcharts-data-labels.highcharts-series-0.highcharts-tracker text tspan,
text.highcharts-title tspan{  font-size: 1.4em !important; } 

#employee_list h3{ margin: 10px 0px; height: 50px; vertical-align: middle; color: #fff;}

footer { margin: 20px 0; text-align: center; }

#employee_list_bar { margin: 30px 0 0 0 !important; }
#employee_list { margin-top: 30px; }

.container-fluid .table {
    max-width: 100%;
    background-color: transparent;
    margin-bottom: 20px;
}

