USE [TechVant2016]
GO
ALTER TABLE [dbo].[UserSession] DROP CONSTRAINT [FK_UserSession_Session]
GO
ALTER TABLE [dbo].[UserSession] DROP CONSTRAINT [FK_serSession_User]
GO
ALTER TABLE [dbo].[UserReview] DROP CONSTRAINT [FK_UserInterest_User]
GO
ALTER TABLE [dbo].[UserReview] DROP CONSTRAINT [FK_UserInterest_Session]
GO
ALTER TABLE [dbo].[User] DROP CONSTRAINT [FK__User__LocationId__72C60C4A]
GO
ALTER TABLE [dbo].[TagDetails] DROP CONSTRAINT [FK_TagDetails_Tag]
GO
ALTER TABLE [dbo].[TagDetails] DROP CONSTRAINT [FK_TagDetails_Session]
GO
ALTER TABLE [dbo].[StallRatings] DROP CONSTRAINT [FK_StallRatings_User]
GO
ALTER TABLE [dbo].[StallRatings] DROP CONSTRAINT [FK_StallRatings_Stall]
GO
ALTER TABLE [dbo].[Stall] DROP CONSTRAINT [FK_Stall_Beacon]
GO
ALTER TABLE [dbo].[Session] DROP CONSTRAINT [FK_Schedule_Speaker]
GO
ALTER TABLE [dbo].[RateStall] DROP CONSTRAINT [FK_RateStall_User]
GO
ALTER TABLE [dbo].[RateStall] DROP CONSTRAINT [FK_RateStall_RateStall]
GO
ALTER TABLE [dbo].[PlayerScore] DROP CONSTRAINT [FK__PlayerSco__UserI__73BA3083]
GO
/****** Object:  Table [dbo].[UserSession]    Script Date: 3/21/2016 8:34:17 PM ******/
DROP TABLE [dbo].[UserSession]
GO
/****** Object:  Table [dbo].[UserReview]    Script Date: 3/21/2016 8:34:17 PM ******/
DROP TABLE [dbo].[UserReview]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/21/2016 8:34:17 PM ******/
DROP TABLE [dbo].[User]
GO
/****** Object:  Table [dbo].[TagDetails]    Script Date: 3/21/2016 8:34:17 PM ******/
DROP TABLE [dbo].[TagDetails]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 3/21/2016 8:34:17 PM ******/
DROP TABLE [dbo].[Tag]
GO
/****** Object:  Table [dbo].[StallRatings]    Script Date: 3/21/2016 8:34:17 PM ******/
DROP TABLE [dbo].[StallRatings]
GO
/****** Object:  Table [dbo].[Stall]    Script Date: 3/21/2016 8:34:17 PM ******/
DROP TABLE [dbo].[Stall]
GO
/****** Object:  Table [dbo].[Speaker]    Script Date: 3/21/2016 8:34:17 PM ******/
DROP TABLE [dbo].[Speaker]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 3/21/2016 8:34:17 PM ******/
DROP TABLE [dbo].[Session]
GO
/****** Object:  Table [dbo].[RateStall]    Script Date: 3/21/2016 8:34:17 PM ******/
DROP TABLE [dbo].[RateStall]
GO
/****** Object:  Table [dbo].[PlayerScore]    Script Date: 3/21/2016 8:34:17 PM ******/
DROP TABLE [dbo].[PlayerScore]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 3/21/2016 8:34:17 PM ******/
DROP TABLE [dbo].[Location]
GO
/****** Object:  Table [dbo].[Beacon]    Script Date: 3/21/2016 8:34:17 PM ******/
DROP TABLE [dbo].[Beacon]
GO
/****** Object:  Table [dbo].[AppConfig]    Script Date: 3/21/2016 8:34:17 PM ******/
DROP TABLE [dbo].[AppConfig]
GO
USE [master]
GO
/****** Object:  Database [TechVant2016]    Script Date: 3/21/2016 8:34:17 PM ******/
DROP DATABASE [TechVant2016]
GO
/****** Object:  Database [TechVant2016]    Script Date: 3/21/2016 8:34:17 PM ******/
CREATE DATABASE [TechVant2016]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TechVant2016].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TechVant2016]
GO
/****** Object:  Table [dbo].[AppConfig]    Script Date: 3/21/2016 8:34:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AppConfig](
	[AppConfigId] [bigint] NOT NULL,
	[AppConfigKey] [varchar](100) NULL,
	[AppConfigValue] [varchar](100) NOT NULL,
 CONSTRAINT [PK_AppConfig] PRIMARY KEY CLUSTERED 
(
	[AppConfigId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Beacon]    Script Date: 3/21/2016 8:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Beacon](
	[BeaconId] [bigint] NOT NULL,
	[Title] [varchar](50) NULL,
	[UUID] [varchar](50) NULL,
	[Major] [varchar](50) NULL,
	[Minor] [varchar](50) NULL,
	[Proximity] [varchar](50) NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [PK_Beacon] PRIMARY KEY CLUSTERED 
(
	[BeaconId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Location]    Script Date: 3/21/2016 8:34:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Location](
	[LocationId] [bigint] NOT NULL,
	[Name] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PlayerScore]    Script Date: 3/21/2016 8:34:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerScore](
	[PlayerScoreId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Quiz1Score] [int] NULL,
	[Quiz2Score] [int] NULL,
	[Quiz3Score] [int] NULL,
	[Quiz4Score] [int] NULL,
	[LeadershipPosition] [int] NULL,
 CONSTRAINT [PK_PlayerScore] PRIMARY KEY CLUSTERED 
(
	[PlayerScoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[RateStall]    Script Date: 3/21/2016 8:34:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RateStall](
	[RateStallId] [int] IDENTITY(1,1) NOT NULL,
	[StallId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comments] [varchar](300) NULL,
 CONSTRAINT [PK_RateStall] PRIMARY KEY CLUSTERED 
(
	[RateStallId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Session]    Script Date: 3/21/2016 8:34:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Session](
	[SessionId] [bigint] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NULL,
	[Venue] [varchar](100) NOT NULL,
	[SpeakerId] [bigint] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
	[Title] [varchar](50) NULL,
 CONSTRAINT [PK_Schedule] PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Speaker]    Script Date: 3/21/2016 8:34:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Speaker](
	[SpeakerId] [bigint] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
	[Image] [varchar](100) NULL,
	[Intro] [varchar](200) NULL,
 CONSTRAINT [PK_Speaker] PRIMARY KEY CLUSTERED 
(
	[SpeakerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Stall]    Script Date: 3/21/2016 8:34:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Stall](
	[StallId] [bigint] NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
	[BeaconId] [bigint] NULL,
 CONSTRAINT [PK_Stall] PRIMARY KEY CLUSTERED 
(
	[StallId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StallRatings]    Script Date: 3/21/2016 8:34:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StallRatings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StallId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Rating] [int] NULL,
	[Comment] [varchar](max) NULL,
 CONSTRAINT [PK_StallRatings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 3/21/2016 8:34:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tag](
	[TagId] [bigint] NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TagDetails]    Script Date: 3/21/2016 8:34:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagDetails](
	[TagDetailsId] [bigint] NOT NULL,
	[TagId] [bigint] NOT NULL,
	[SessionId] [bigint] NOT NULL,
 CONSTRAINT [PK_TagDetails] PRIMARY KEY CLUSTERED 
(
	[TagDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[User]    Script Date: 3/21/2016 8:34:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[UserType] [int] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
	[EmpID] [nvarchar](max) NULL,
	[EmailId] [nvarchar](max) NULL,
	[LocationId] [bigint] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[UserReview]    Script Date: 3/21/2016 8:34:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserReview](
	[UserReviewId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[SessionId] [bigint] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comments] [varchar](200) NULL,
 CONSTRAINT [PK_UserInterest] PRIMARY KEY CLUSTERED 
(
	[UserReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserSession]    Script Date: 3/21/2016 8:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSession](
	[Isinterested] [bit] NULL,
	[IsRegistered] [bit] NULL,
	[UserID] [bigint] NOT NULL,
	[SessionID] [bigint] NOT NULL,
 CONSTRAINT [PK_UserSession] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
INSERT [dbo].[AppConfig] ([AppConfigId], [AppConfigKey], [AppConfigValue]) VALUES (1, N'FIRSTLOGINCOUNT', N'10')
INSERT [dbo].[AppConfig] ([AppConfigId], [AppConfigKey], [AppConfigValue]) VALUES (2, N'PICKFIRSTLOGINCOUNT', N'5')
INSERT [dbo].[AppConfig] ([AppConfigId], [AppConfigKey], [AppConfigValue]) VALUES (3, N'QUIZCONTEST1', N'http:\\hitachitalentquest\pre-liminary-contest')
INSERT [dbo].[Beacon] ([BeaconId], [Title], [UUID], [Major], [Minor], [Proximity], [UpdatedBy], [UpdatedOn], [CreatedBy], [CreatedOn]) VALUES (1, N'First Beacon', N'1ABCD-90', N'MSFT', NULL, NULL, NULL, NULL, 2, NULL)
INSERT [dbo].[Beacon] ([BeaconId], [Title], [UUID], [Major], [Minor], [Proximity], [UpdatedBy], [UpdatedOn], [CreatedBy], [CreatedOn]) VALUES (2, N'Second Beacon', N'1ABCD-92', N'MSFT', NULL, NULL, NULL, NULL, 2, NULL)
INSERT [dbo].[Beacon] ([BeaconId], [Title], [UUID], [Major], [Minor], [Proximity], [UpdatedBy], [UpdatedOn], [CreatedBy], [CreatedOn]) VALUES (3, N'Third Beacon', N'1ABCD-93', N'Oracle', NULL, NULL, NULL, NULL, 2, NULL)
INSERT [dbo].[Location] ([LocationId], [Name]) VALUES (1001, N'Hyderabad')
INSERT [dbo].[Location] ([LocationId], [Name]) VALUES (1002, N'Bangalore')
INSERT [dbo].[Location] ([LocationId], [Name]) VALUES (1003, N'Pune')
SET IDENTITY_INSERT [dbo].[Session] ON 

INSERT [dbo].[Session] ([SessionId], [Description], [StartDate], [EndDate], [StartTime], [EndTime], [Venue], [SpeakerId], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [Title]) VALUES (7, N'Session on Cloud Computing - PAAS, SAAS', CAST(0x1F3B0B00 AS Date), CAST(0x1F3B0B00 AS Date), CAST(0x07C81315AEAF0000 AS Time), NULL, N'STANFORD', 2, 2, NULL, NULL, NULL, N'Cloud in IT')
INSERT [dbo].[Session] ([SessionId], [Description], [StartDate], [EndDate], [StartTime], [EndTime], [Venue], [SpeakerId], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [Title]) VALUES (8, N'Mobility Session', CAST(0x1F3B0B00 AS Date), CAST(0x1F3B0B00 AS Date), CAST(0x07522E6BC1AF0000 AS Time), NULL, N'STANFORD', 3, 2, NULL, NULL, NULL, N'Cloud in IT')
INSERT [dbo].[Session] ([SessionId], [Description], [StartDate], [EndDate], [StartTime], [EndTime], [Venue], [SpeakerId], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [Title]) VALUES (9, N'IOT Session', CAST(0x1F3B0B00 AS Date), CAST(0x1F3B0B00 AS Date), CAST(0x07640066C7AF0000 AS Time), NULL, N'STANFORD', 3, 2, NULL, NULL, NULL, N'Cloud in IT')
SET IDENTITY_INSERT [dbo].[Session] OFF
INSERT [dbo].[Speaker] ([SpeakerId], [FirstName], [LastName], [Description], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [Image], [Intro]) VALUES (1, N'Paromita', N'Bhattacharya', N'Quality Assurance Speaker', NULL, CAST(0x0000A5C4014E4A67 AS DateTime), NULL, NULL, N'www.192.192.192.192\Images\Paromita', N'Paromita')
INSERT [dbo].[Speaker] ([SpeakerId], [FirstName], [LastName], [Description], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [Image], [Intro]) VALUES (2, N'Anuradha', N'Dutt', N'Oracle Fusion Speaker', NULL, CAST(0x0000A5C4014E90C5 AS DateTime), NULL, NULL, N'www.192.192.192.192\Images\Anuradha', N'Anuradha')
INSERT [dbo].[Speaker] ([SpeakerId], [FirstName], [LastName], [Description], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [Image], [Intro]) VALUES (3, N'Anil', N'Mohanty', N'Mobility', NULL, CAST(0x0000A5C4014EBA04 AS DateTime), NULL, NULL, N'www.192.192.192.192\Images\Anil', N'Anil')
INSERT [dbo].[Tag] ([TagId], [Title], [Description], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (1, N'Tag-2250', N'Tag2250 Description', 2, CAST(0x0000A5C50039C985 AS DateTime), NULL, NULL)
INSERT [dbo].[Tag] ([TagId], [Title], [Description], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (2, N'Tag-2252', N'Tag2252 Description', 2, CAST(0x0000A5C50039D497 AS DateTime), NULL, NULL)
INSERT [dbo].[Tag] ([TagId], [Title], [Description], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn]) VALUES (3, N'Tag-2254', N'Tag2254 Description', 2, CAST(0x0000A5C50039DF48 AS DateTime), NULL, NULL)
INSERT [dbo].[TagDetails] ([TagDetailsId], [TagId], [SessionId]) VALUES (1, 1, 7)
INSERT [dbo].[TagDetails] ([TagDetailsId], [TagId], [SessionId]) VALUES (2, 1, 8)
INSERT [dbo].[TagDetails] ([TagDetailsId], [TagId], [SessionId]) VALUES (3, 1, 9)
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [FirstName], [LastName], [UserType], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [EmpID], [EmailId], [LocationId]) VALUES (1, N'Paromita', N'Bhattacharya', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[User] ([UserId], [FirstName], [LastName], [UserType], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [EmpID], [EmailId], [LocationId]) VALUES (2, N'Vaibhav', N'Gujral', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[User] ([UserId], [FirstName], [LastName], [UserType], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [EmpID], [EmailId], [LocationId]) VALUES (3, N'Prahalad', N'Keerni', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserReview] ON 

INSERT [dbo].[UserReview] ([UserReviewId], [UserId], [SessionId], [Rating], [Comments]) VALUES (2, 1, 8, 1, N'bla')
INSERT [dbo].[UserReview] ([UserReviewId], [UserId], [SessionId], [Rating], [Comments]) VALUES (3, 2, 9, 1, N'bla')
INSERT [dbo].[UserReview] ([UserReviewId], [UserId], [SessionId], [Rating], [Comments]) VALUES (4, 1, 9, 1, N'bla')
SET IDENTITY_INSERT [dbo].[UserReview] OFF
INSERT [dbo].[UserSession] ([Isinterested], [IsRegistered], [UserID], [SessionID]) VALUES (1, NULL, 2, 11)
INSERT [dbo].[UserSession] ([Isinterested], [IsRegistered], [UserID], [SessionID]) VALUES (1, 1, 3, 7)
INSERT [dbo].[UserSession] ([Isinterested], [IsRegistered], [UserID], [SessionID]) VALUES (0, 0, 3, 11)
ALTER TABLE [dbo].[PlayerScore]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[RateStall]  WITH CHECK ADD  CONSTRAINT [FK_RateStall_RateStall] FOREIGN KEY([StallId])
REFERENCES [dbo].[Stall] ([StallId])
GO
ALTER TABLE [dbo].[RateStall] CHECK CONSTRAINT [FK_RateStall_RateStall]
GO
ALTER TABLE [dbo].[RateStall]  WITH CHECK ADD  CONSTRAINT [FK_RateStall_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[RateStall] CHECK CONSTRAINT [FK_RateStall_User]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Speaker] FOREIGN KEY([SpeakerId])
REFERENCES [dbo].[Speaker] ([SpeakerId])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Schedule_Speaker]
GO
ALTER TABLE [dbo].[Stall]  WITH CHECK ADD  CONSTRAINT [FK_Stall_Beacon] FOREIGN KEY([BeaconId])
REFERENCES [dbo].[Beacon] ([BeaconId])
GO
ALTER TABLE [dbo].[Stall] CHECK CONSTRAINT [FK_Stall_Beacon]
GO
ALTER TABLE [dbo].[StallRatings]  WITH CHECK ADD  CONSTRAINT [FK_StallRatings_Stall] FOREIGN KEY([StallId])
REFERENCES [dbo].[Stall] ([StallId])
GO
ALTER TABLE [dbo].[StallRatings] CHECK CONSTRAINT [FK_StallRatings_Stall]
GO
ALTER TABLE [dbo].[StallRatings]  WITH CHECK ADD  CONSTRAINT [FK_StallRatings_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[StallRatings] CHECK CONSTRAINT [FK_StallRatings_User]
GO
ALTER TABLE [dbo].[TagDetails]  WITH CHECK ADD  CONSTRAINT [FK_TagDetails_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Session] ([SessionId])
GO
ALTER TABLE [dbo].[TagDetails] CHECK CONSTRAINT [FK_TagDetails_Session]
GO
ALTER TABLE [dbo].[TagDetails]  WITH CHECK ADD  CONSTRAINT [FK_TagDetails_Tag] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tag] ([TagId])
GO
ALTER TABLE [dbo].[TagDetails] CHECK CONSTRAINT [FK_TagDetails_Tag]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([LocationId])
REFERENCES [dbo].[Location] ([LocationId])
GO
ALTER TABLE [dbo].[UserReview]  WITH CHECK ADD  CONSTRAINT [FK_UserInterest_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Session] ([SessionId])
GO
ALTER TABLE [dbo].[UserReview] CHECK CONSTRAINT [FK_UserInterest_Session]
GO
ALTER TABLE [dbo].[UserReview]  WITH CHECK ADD  CONSTRAINT [FK_UserInterest_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserReview] CHECK CONSTRAINT [FK_UserInterest_User]
GO
ALTER TABLE [dbo].[UserSession]  WITH CHECK ADD  CONSTRAINT [FK_serSession_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserSession] CHECK CONSTRAINT [FK_serSession_User]
GO
ALTER TABLE [dbo].[UserSession]  WITH CHECK ADD  CONSTRAINT [FK_UserSession_Session] FOREIGN KEY([SessionID])
REFERENCES [dbo].[Session] ([SessionId])
GO
ALTER TABLE [dbo].[UserSession] CHECK CONSTRAINT [FK_UserSession_Session]
GO
USE [master]
GO
