USE [master]
GO
/****** Object:  Database [TechVant2016]    Script Date: 4/21/2016 11:26:51 AM ******/
CREATE DATABASE [TechVant2016]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TechVant2016].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TechVant2016]
GO
/****** Object:  Table [dbo].[AppConfig]    Script Date: 4/21/2016 11:26:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AppConfig](
	[AppConfigId] [bigint] NOT NULL,
	[AppConfigKey] [varchar](100) NULL,
	[AppConfigValue] [varchar](100) NOT NULL,
 CONSTRAINT [PK_AppConfig] PRIMARY KEY CLUSTERED 
(
	[AppConfigId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Beacon]    Script Date: 4/21/2016 11:26:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Beacon](
	[BeaconId] [bigint] NOT NULL,
	[Title] [varchar](50) NULL,
	[UUID] [varchar](50) NULL,
	[Major] [varchar](50) NULL,
	[Minor] [varchar](50) NULL,
	[Proximity] [varchar](50) NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [PK_Beacon] PRIMARY KEY CLUSTERED 
(
	[BeaconId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Location]    Script Date: 4/21/2016 11:26:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Location](
	[LocationId] [bigint] NOT NULL,
	[Name] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 4/21/2016 11:26:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationId] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Message] [varchar](250) NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PlayerScore]    Script Date: 4/21/2016 11:26:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerScore](
	[PlayerScoreId] [bigint] NOT NULL,
	[EmpId] [nvarchar](max) NOT NULL,
	[Quiz1Score] [int] NULL,
	[Quiz2Score] [int] NULL,
	[Quiz3Score] [int] NULL,
	[Quiz4Score] [int] NULL,
	[LeadershipPosition] [int] NULL,
	[CummulativeScore] [int] NULL,
	[locationID] [bigint] NOT NULL,
 CONSTRAINT [PK_PlayerScore] PRIMARY KEY CLUSTERED 
(
	[PlayerScoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[RateStall]    Script Date: 4/21/2016 11:26:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RateStall](
	[RateStallId] [int] IDENTITY(1,1) NOT NULL,
	[StallId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comments] [varchar](300) NULL,
 CONSTRAINT [PK_RateStall] PRIMARY KEY CLUSTERED 
(
	[RateStallId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Session]    Script Date: 4/21/2016 11:26:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Session](
	[SessionId] [bigint] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NULL,
	[Venue] [varchar](100) NOT NULL,
	[SpeakerId] [bigint] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
	[Title] [varchar](max) NULL,
 CONSTRAINT [PK_Schedule] PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Speaker]    Script Date: 4/21/2016 11:26:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Speaker](
	[SpeakerId] [bigint] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
	[Image] [varchar](max) NULL,
	[Intro] [varchar](200) NULL,
 CONSTRAINT [PK_Speaker] PRIMARY KEY CLUSTERED 
(
	[SpeakerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Stall]    Script Date: 4/21/2016 11:27:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Stall](
	[StallId] [bigint] NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
	[BeaconId] [bigint] NULL,
 CONSTRAINT [PK_Stall] PRIMARY KEY CLUSTERED 
(
	[StallId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 4/21/2016 11:27:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tag](
	[TagId] [bigint] NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TagDetails]    Script Date: 4/21/2016 11:27:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagDetails](
	[TagDetailsId] [bigint] NOT NULL,
	[TagId] [bigint] NOT NULL,
	[SessionId] [bigint] NOT NULL,
 CONSTRAINT [PK_TagDetails] PRIMARY KEY CLUSTERED 
(
	[TagDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[THClueCategory]    Script Date: 4/21/2016 11:27:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THClueCategory](
	[THClueCategoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[THClueCategoryDescription] [varchar](100) NULL,
 CONSTRAINT [PK_THClueCategoryId] PRIMARY KEY CLUSTERED 
(
	[THClueCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THClues]    Script Date: 4/21/2016 11:27:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THClues](
	[THClueId] [bigint] IDENTITY(1,1) NOT NULL,
	[THCluesDescription] [varchar](max) NULL,
	[THClueCategoryId] [bigint] NOT NULL,
	[THAnswer] [varchar](500) NULL,
	[THRiddle] [varchar](max) NULL,
 CONSTRAINT [PK_THClueId] PRIMARY KEY CLUSTERED 
(
	[THClueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THTeam]    Script Date: 4/21/2016 11:27:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THTeam](
	[THTeamId] [bigint] IDENTITY(1,1) NOT NULL,
	[THTeamDescription] [varchar](100) NULL,
	[LocationId] [bigint] NOT NULL,
 CONSTRAINT [PK_THTeamId] PRIMARY KEY CLUSTERED 
(
	[THTeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THTeamClues]    Script Date: 4/21/2016 11:27:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THTeamClues](
	[THTeamCluesId] [bigint] IDENTITY(1,1) NOT NULL,
	[THTeamID] [bigint] NOT NULL,
	[THClueID] [bigint] NOT NULL,
	[IsValid] [bit] NULL,
 CONSTRAINT [PK_THTeamCluesId] PRIMARY KEY CLUSTERED 
(
	[THTeamCluesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[User]    Script Date: 4/21/2016 11:27:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[UserType] [int] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
	[EmpID] [nvarchar](max) NULL,
	[EmailId] [nvarchar](max) NULL,
	[LocationId] [bigint] NULL,
	[THTeamId] [bigint] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[UserAttendance]    Script Date: 4/21/2016 11:27:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAttendance](
	[UserID] [bigint] NOT NULL,
	[SessionID] [bigint] NOT NULL,
	[StallID] [bigint] NOT NULL,
	[IsAttendee] [bit] NOT NULL,
 CONSTRAINT [PK_UserAttendance] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[SessionID] ASC,
	[StallID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[UserReview]    Script Date: 4/21/2016 11:27:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserReview](
	[UserReviewId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[SessionId] [bigint] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comments] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserInterest] PRIMARY KEY CLUSTERED 
(
	[UserReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[UserSession]    Script Date: 4/21/2016 11:27:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSession](
	[Isinterested] [bit] NULL,
	[IsRegistered] [bit] NULL,
	[UserID] [bigint] NOT NULL,
	[SessionID] [bigint] NOT NULL,
 CONSTRAINT [PK_UserSession] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
ALTER TABLE [dbo].[PlayerScore] ADD  DEFAULT ((1001)) FOR [locationID]
GO
ALTER TABLE [dbo].[THTeamClues] ADD  DEFAULT ((0)) FOR [IsValid]
GO
ALTER TABLE [dbo].[PlayerScore]  WITH CHECK ADD  CONSTRAINT [FK_PlayerLocation_Location] FOREIGN KEY([locationID])
REFERENCES [dbo].[Location] ([LocationId])
GO
ALTER TABLE [dbo].[PlayerScore] CHECK CONSTRAINT [FK_PlayerLocation_Location]
GO
ALTER TABLE [dbo].[RateStall]  WITH CHECK ADD  CONSTRAINT [FK_RateStall_RateStall] FOREIGN KEY([StallId])
REFERENCES [dbo].[Stall] ([StallId])
GO
ALTER TABLE [dbo].[RateStall] CHECK CONSTRAINT [FK_RateStall_RateStall]
GO
ALTER TABLE [dbo].[RateStall]  WITH CHECK ADD  CONSTRAINT [FK_RateStall_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[RateStall] CHECK CONSTRAINT [FK_RateStall_User]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Speaker] FOREIGN KEY([SpeakerId])
REFERENCES [dbo].[Speaker] ([SpeakerId])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Schedule_Speaker]
GO
ALTER TABLE [dbo].[Stall]  WITH CHECK ADD  CONSTRAINT [FK_Stall_Beacon] FOREIGN KEY([BeaconId])
REFERENCES [dbo].[Beacon] ([BeaconId])
GO
ALTER TABLE [dbo].[Stall] CHECK CONSTRAINT [FK_Stall_Beacon]
GO
ALTER TABLE [dbo].[TagDetails]  WITH CHECK ADD  CONSTRAINT [FK_TagDetails_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Session] ([SessionId])
GO
ALTER TABLE [dbo].[TagDetails] CHECK CONSTRAINT [FK_TagDetails_Session]
GO
ALTER TABLE [dbo].[TagDetails]  WITH CHECK ADD  CONSTRAINT [FK_TagDetails_Tag] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tag] ([TagId])
GO
ALTER TABLE [dbo].[TagDetails] CHECK CONSTRAINT [FK_TagDetails_Tag]
GO
ALTER TABLE [dbo].[THClues]  WITH CHECK ADD FOREIGN KEY([THClueCategoryId])
REFERENCES [dbo].[THClueCategory] ([THClueCategoryId])
GO
ALTER TABLE [dbo].[THTeam]  WITH CHECK ADD FOREIGN KEY([LocationId])
REFERENCES [dbo].[Location] ([LocationId])
GO
ALTER TABLE [dbo].[THTeamClues]  WITH CHECK ADD FOREIGN KEY([THClueID])
REFERENCES [dbo].[THClues] ([THClueId])
GO
ALTER TABLE [dbo].[THTeamClues]  WITH CHECK ADD FOREIGN KEY([THTeamID])
REFERENCES [dbo].[THTeam] ([THTeamId])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([LocationId])
REFERENCES [dbo].[Location] ([LocationId])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_THTeam] FOREIGN KEY([THTeamId])
REFERENCES [dbo].[THTeam] ([THTeamId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_THTeam]
GO
ALTER TABLE [dbo].[UserAttendance]  WITH CHECK ADD  CONSTRAINT [FK_UserAttendance_Session] FOREIGN KEY([SessionID])
REFERENCES [dbo].[Session] ([SessionId])
GO
ALTER TABLE [dbo].[UserAttendance] CHECK CONSTRAINT [FK_UserAttendance_Session]
GO
ALTER TABLE [dbo].[UserAttendance]  WITH CHECK ADD  CONSTRAINT [FK_UserAttendance_Stall] FOREIGN KEY([StallID])
REFERENCES [dbo].[Stall] ([StallId])
GO
ALTER TABLE [dbo].[UserAttendance] CHECK CONSTRAINT [FK_UserAttendance_Stall]
GO
ALTER TABLE [dbo].[UserAttendance]  WITH CHECK ADD  CONSTRAINT [FK_UserAttendance_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserAttendance] CHECK CONSTRAINT [FK_UserAttendance_User]
GO
ALTER TABLE [dbo].[UserReview]  WITH CHECK ADD  CONSTRAINT [FK_UserInterest_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Session] ([SessionId])
GO
ALTER TABLE [dbo].[UserReview] CHECK CONSTRAINT [FK_UserInterest_Session]
GO
ALTER TABLE [dbo].[UserReview]  WITH CHECK ADD  CONSTRAINT [FK_UserInterest_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserReview] CHECK CONSTRAINT [FK_UserInterest_User]
GO
ALTER TABLE [dbo].[UserSession]  WITH CHECK ADD  CONSTRAINT [FK_serSession_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserSession] CHECK CONSTRAINT [FK_serSession_User]
GO
ALTER TABLE [dbo].[UserSession]  WITH CHECK ADD  CONSTRAINT [FK_UserSession_Session] FOREIGN KEY([SessionID])
REFERENCES [dbo].[Session] ([SessionId])
GO
ALTER TABLE [dbo].[UserSession] CHECK CONSTRAINT [FK_UserSession_Session]
GO
USE [master]
GO
